<template>
    <v-form v-model="validForm">
        <v-row>
            <v-col>
                <v-text-field v-model="value.title"
                              label="Title of Question"
                              :disabled="disableFields"
                              @change="$emit('input', value)"
                              :rules="[v => !!v || 'Title is required']"
                              color="green"
                              autofocus
                              required>
                </v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-text-field v-model="value.questionText"
                              label="Actual Question"
                              :disabled="disableFields"
                              @change="$emit('input', value)"
                              :rules="[v => !!v || 'Question is required']"
                              color="green"
                              required>
                </v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-combobox v-model="value.questionType"
                            label="Question type"
                            :disabled="disableFields"
                            @change="$emit('input', value)"
                            :rules="[v => !!v || 'Select a question type']"
                            color="green"
                            required>
                </v-combobox>
            </v-col>
        </v-row>
    </v-form>
</template>

<script>
    import {RepositoryFactory} from "../../repositories/RepositoryFactory";
    import Vue from "vue";

    const QuestionRepository = RepositoryFactory.get('questions');

    export default {
        name: "QuestionForm",
        props: {
            value: Object,
            disableFields: Boolean
        },
        data: () => ({
            validForm: false,
            questionTypes: {},
        }),
        watch: {
            validForm: function (newValidity) {
                this.$emit('validation', newValidity);
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                QuestionRepository.getQuestionTypes()
                    .then(response => {
                        if(response.status === 200) {
                            this.questionTypes = response.data;
                            console.log(this.questionTypes);
                        }
                    });
            }
        }
    }
</script>

<style scoped>

</style>