<template>
    <v-container>
            <v-row>
                <v-col class="text-center">
                    <p class="display-4"><strong>Highscore</strong></p>
                    <p class="font-italic font-weight-light">{{highscores}}</p>
                </v-col>
            </v-row>  
            <v-row>
                <v-col class="text-center">
                    <v-data-table :hide-default-header="hideHeader" :headers='headers' :items="highscores" :loading="isLoading" :loading-text="loadingText" dense v-bind="highscores">
                    </v-data-table>
                </v-col>
                
            </v-row>          
        </v-container>
</template>

<script>
    import {RepositoryFactory} from "../../repositories/RepositoryFactory";
    import Vue from "vue";

    const HighscoreRepository = RepositoryFactory.get('highscores');

    export default {
        data: () =>({            
            highscoreData: [
                {
                    username: 'That boi',
                    score: '420'
                },
                {
                    username: 'loaors',
                    score: '500'
                },
                {
                    username: 'That boi',
                    score: '420'
                },
                {
                    username: 'loaors',
                    score: '500'
                },
                {
                    username: 'That boi',
                    score: '420'
                },
                {
                    username: 'loaors',
                    score: '500'
                },
                {
                    username: 'That boi',
                    score: '420'
                },
                {
                    username: 'loaors',
                    score: '500'
                },
                {
                    username: 'That boi',
                    score: '420'
                },
                {
                    username: 'loaors',
                    score: '500'
                }
            ],
            isLoading: true,
            hideHeader: true,
            loadingText: 'Loading... please wait',
            headers: [
                {
                    text: 'Username',
                    align: 'left',
                    value: 'username'
                },
                {
                    text: 'Score',
                    align: 'left',
                    value: 'score'
                }
            ],
            highscores : {}
        }),
    

    created(){
        this.fetchData();
    },

    methods:{
        fetchData() {
            this.loading = true;
            HighscoreRepository.get()
                .then(response => {
                    if(response.status === 200){
                        this.highscores = response.data;
                    }
                });
        }
    }
}
</script>

<style>

</style>